/*
 *
 * Project:	PiratePartyUK Drupal Theme (NWP 2014)
 * 
 *
 * Authors: 	Andy Halsall <a.halsall@pirateparty.org.uk>
  *		Pirate Party UK
 * Date:	2014-02-24
 * Version:	0.9
 *
 * Description: Print CSS for the Pirate Party Drupal Theme
 *
 *
 *
 * Acknowledgements:
 *
 * Based on and developed from Piratenkleider - Wolfgang Wiese (xwolf)
 * the current Piratenpartei wordpress theme (http://www.piratenkleider.de/)
 *
*/

@media print {
	body {
		font-size: 10pt;
		padding: 0 5px;
	
	}
	
	p {padding-top:1em}
	h1,h2,h3,h4,h5,h6 {
		page-break-after:avoid;
	}
	abbr[title]:after,
	acronym[title]:after {
		content:'(' attr(title) ')';
	}
	.content a[href]:after {
		content:" <URL:"attr(href)">";
		color:#444;
		background:inherit;
		font-style:italic;
	}
	.post-info a[href]:after,
        .post-meta a[href]:after,
        .post-comments a[href]:after,
        .post-title h2 a[href]:after,
        .tagcloud a[href]:after, 
        .content .content-aside a[href]:after {
		content:"";
	}
        .teaser,
        .newsletter,
        .nav-top,
        .nav-main, 
        .flexslider,
        .sticker, 
        .symbolbild,
        #respond {
            display: none;
        }
        .header {
            height: auto;
            background: #eee;
            width: 100%;
            border-bottom: 1px solid #000;
            margin: 0;
            padding: 10px;
        }
        .header .branding {
            margin: 0;
            padding: 0;
            height: 100px;
        }
        

         .post-comments ol li .reply {
            display: none;
            }
            
          #footer  { 
                color: #999; 
                text-align: center; 
                font-size: 10pt;                 
                width: 5in; border-top: 1px solid #CCC; 
                margin: .5in 1in; 
          }
}